nav {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;


}
nav ul li {
    width: 20%;

}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    display: block;
    padding: 1rem 0;
    background-color: whitesmoke;
    text-align: center;
    transition: all 0.5s ease;

}
nav ul li a:hover{
    background-color: rgba(226, 35, 125, 0.99);
    font-weight: bold;
    transition: all 0.5s ease;
    color: white;

}
.quiz{
    width: 10vw;
    margin: 0 auto;
}