body
{

    width: 100%;
    margin: 0;

    background: linear-gradient(90deg, #ffffff 0%, #fae1cb 100%);
}
img {
   /* max-width: 100%;*/
   /* height: auto;*/
   /* float: left;*/
   /* display: flex;*/
   /*margin:  -168.5px 0px 0px -1px;*/
    float: left;
    display: flex;
    margin: -350px 0px 0px -1px;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
}
.anim
{
    animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateX(-48px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(-26px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateX(-13px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateX(-6.5px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateX(-4px);
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        animation-timing-function: ease-out;
        transform: translateX(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0px);
    }
}
.title{
    margin: auto;
}
.title h1{
    letter-spacing: 0.1rem;
    font-size: 22px;
    text-align: center;
    display: flex;
    padding: 1.8em 0 0;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    color: black;
    text-decoration: none;

}
.title2{
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    text-align: center;
    display: flex;
    padding: 0.1em 0 0.7em;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    color: #B65E42;
}

/* nav h1 {*/
/*    letter-spacing: 0.2rem;*/
/*    font-size: 18px;*/
/*     text-transform: uppercase;*/
/*     text-align: center;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    height: 3vh;*/
/*    position: relative;*/
/*    padding: 0 1em;*/
/*    flex-wrap: wrap;*/
/*    align-content: center;*/
/*    justify-content: space-around;*/
/*}*/
nav {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /*justify-content: space-around;*/

    justify-content: center;
}
nav ul li {
    width: 25%;

}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    /*text-transform: uppercase;*/
    letter-spacing: 0.2rem;
    display: block;
    padding: 1rem 0;
    background-color: transparent;
    text-align: center;
    transition: all 0.5s ease;


}

nav ul li a:hover{
    background-color: #B65E42;
    font-weight: bold;
    transition: all 0.5s ease;
    color: white;
    text-decoration: none;

}
a:focus{

    background-color:#B65E42;
}
.quiz{
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}

.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.score{
    text-align: center;
    padding: 1rem;
    font-size: 25px;
}